<!DOCTYPE html>
<html>

<head>
	<title>SFHS Chess Club</title>
	<link rel='stylesheet' href='../../static/css/info.css'>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'> 
	<link rel='shortcut icon' href='../../static/images/favicon.png' type='image/jpg'> 
	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<!--[if IE]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
	<script>
		(function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i])}})()
	</script>
</head>

<body>

	<img src='../../static/images/logo.png' class='logo'>
	   
	<header>	
		<h1><a href='index.html' class='h1'>SFHS Chess Club</a></h1>
		
    	<!--Horizontal NavMenu-->	
	  	<nav>
      		<ul>
        		<li><a href='info.html'>Info</a></li>
        		<li><a href='challenges.html'>Challenges</a></li>
		 	  	<li><a href='strategy.html'>Strategy</a></li>
		  		<li><a href='http://www.nychess.org/league/18-19chB1.html' target='_blank'>Schedule</a></li>
		  		<li><a href='#openModal' class='login'>Log In</a></li>
      		</ul>
    	</nav>
		<!--End Horizontal NavMenu--> 
	</header>
	
	<div class='lisulink'>
	  
    	<!--Sign in Modal Box-->
	  	<div id='openModal' class='modalDialog'>
	    	<div>
		  		<a href='#close' title='Close' class='close'>X</a>
		   		<h2 class='modal'>Log In</h2>
		   			<p class='modal'>Log in to review your challenges, ranking, and other great features!</p>
		   			<form>
		     			<input type='text' placeholder='Username' class='username' autofocus required><br>
			 			<input type='password' placeholder='Password'  class='username' required><br>
			 			<input type='submit' class='submit'>
		   			</form>
		   			<p class='signup'>Not a member yet? Sign up <a href='#openModalSignUp' class='modalLISU'>here.</a>
      		</div>		   
      	</div>
	   
		<!--Sign Up Modal Box-->
		<div id='openModalSignUp' class='modalDialogSignUp'>
			<div>
				<a href='#close' title='Close' class='close'>X</a>
				<h2 class='modal'>Sign Up</h2>
					<p class='modal'>Sign up to become an official member of SFHS Chess Club!</p>
					<form>
						<input type='email' placeholder='Email' class='email' required><br>
						<input type='text' placeholder='Username' class='username' required><br>
						<input type='password' placeholder='Password'  class='username' required><br>
						<input type='submit' class='submit'>
					</form>
					<p class='signup'>Already a member? Sign in <a href='#openModal' class='modalLISU'>here.</a>
			</div>
		</div>
	   
	</div>

	<div id='invisibleFlex'>

	</div>

  	<section class='mainContentWrapper'>
		<div class='mainContent'>

		<div class='h1ico'>
	  		<h1 class='aboutus'>About Our Club</h1>
		</div>
	  
		<!--Text Accordion-->
	  	<div id='accordion'>
      		<button class="accordion">All About Us</button>
      		<div class="panel">
	    		<h2 class='main'>How to Join</h2>
        			<p>It actually really easy to join SFHS Chess Club! We meet every Friday, or Thursday if there's no school. For special added bonuses, you can sign in (or sign up) to the website <a href='#openModal' class='modalLISU'>here</a>.</p><hr>
        		<h2 class='main'>What We Do</h2>
					<p>Chess Club is a lot of fun to be a part of. Even if you don't play chess, or don't think you're very good at it, you can still enjoy Chess Club! It gives a sense of community, as well as giving you the opportunity to make new friends, and learn a whole new game. In addition to this, we attend tournaments every few months and compete against other schools. Playoffs at the end of the year are dependant on our school's ranking, and prizes are awarded to the top school.</p>
					<hr>
					<br>
					<iframe width="400" height="250" class='video' src="https://www.youtube.com/embed/pgO5tONXqJU" frameborder="0" allowfullscreen></iframe>
	 		</div>

      		<button class="accordion">Club Rules</button>
      		<div class="panel">
	    		<h2 class='main'>Challenging People</h2>
					<ul>
		  				<li class='list'>You can challenge anyone you like within 5 ranks of yourself. For example, if you are rank 12, you can challenge anyone up to rank 7. </li>
		  				<li class='list'>You can only challenge those in the top 5 if you are within 3 ranks of them. That is, rank 10 cannot challenge 5, but 8 can. </li>
		  				<li class='list'>Technically, anyone can challenge anyone of any rank, but if the parameters above are not met, the person who was challenged can decline. (Rank 12 can challenge rank 1, but rank 1 can decline.) </li>
		  				<li class='list'>After you challenge someone, the member you challenged has a week to accept. If the person has a valid reason for not accepting, a two-week extension is granted. (The captain will determine the validity of an excuse.) </li>
		  				<li class='list'>If you have just joined the club, and you are the last rank, your first challenge can be anyone outside of the top 5! </li>
		  				<li class='list'>If you challenge someone and win, and the person you beat challenges you within a week, you have TWO weeks to accept. </li>
					</ul>
					<hr>
				<h2 class='main'>Rankings</h2>
					<ul>
		  				<li class='list'>If you challenge someone, and you beat them, you trade ranks.</li>
		  				<li class='list'>When you first join the club, your rank is initially the lowest in the club. Prepare to battle your way up! </li>
		  				<li class='list'>On tournament day, the highest-ranked player attending takes 1st board, second highest-ranked takes 2nd board, and so on. </li>
					</ul> 
					<hr>
				<h2 class='main'>Challenge Matches</h2>
					<ul>
		  				<li class='list'>Unless both players agree, the game is touch move by default. </li>
		  				<li class='list'>No outside help in any form is permitted. If you are caught doing so, you recieve an automatic loss and a penalty of 3 ranks. </li>
		  				<li class='list'>If one player cannot finish the game before he has to leave, an outside source takes a picture of the game, and the game is finished the following week. </li>
		  				<li class='list'>If a player cannot resume the game the following week, the rule of acceptance (under "Challenging People section) applies. </li>
					</ul>
					<hr'>
      		</div>

    		<button class="accordion">Tournament Rules</button>
      		<div class="panel">
	    		<h2 class='main'>General</h2>
        		<ul>
		  			<li class='list'>ALL tournaments are touch move, regardless of what each player agrees to.</li>
		  			<li class='list'>Each match must be played with a clock.</li>
		  			<li class='list'>You must touch the clock with the same hand that moved the piece- no exceptions.</li>
		  			<li class='list'>If a player runs out of time, that player automatically loses the game.</li>
				</ul>
     		</div>
		</div>
		<hr class='infoToLists'>
		
		<div class='memberslist'>
			<!--Members List-->
			<h2 class='membersmain'>SFHS Chess Members:</h2>
				<div class='left'>
					<a href='#profileModal' class='profile'><p class='left'><img src='../../static/images/profile_icon.png' height='30' width='30' class='profileicon'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Michael Cleversley</p></a><br>
					<a href='#profileModal' class='profile'><p class='left'><img src='../../static/images/profile_icon.png' height='30' width='30' class='profileicon'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Owen Roberts</p></a><br>
					<a href='#profileModal' class='profile'><p class='left'><img src='../../static/images/profile_icon.png' height='30' width='30' class='profileicon'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Douglas Coleman</p></a><br>
					<a href='#profileModal' class='profile'><p class='left'><img src='../../static/images/profile_icon.png' height='30' width='30' class='profileicon'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Joe Strozyk</p></a><br>
					<a href='#profileModal' class='profile'><p class='left'><img src='../../static/images/profile_icon.png' height='30' width='30' class='profileicon'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tony Marzullo</p></a><br>
				</div>
				<div class='right'>
					<a href='#frankModal' class='profile'><p class='right'><img src='../../static/images/profile_icon.png' height='30' width='30' class='profileicon'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Frank Neff :(</p></a><br>
					<a href='#profileModal' class='profile'><p class='right'><img src='../../static/images/profile_icon.png' height='30' width='30' class='profileicon'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Connor Cavanaugh</p></a><br>
					<a href='#profileModal' class='profile'><p class='right'><img src='../../static/images/profile_icon.png' height='30' width='30' class='profileicon'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ben Miller</p></a><br>
					<a href='#profileModal' class='profile'><p class='right'><img src='../../static/images/profile_icon.png' height='30' width='30' class='profileicon'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aiden Reichenberg</p></a><br>
					<a href='#profileModal' class='profile'><p class='right'><img src='../../static/images/profile_icon.png' height='30' width='30' class='profileicon'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mpenzie</p></a><br>
				</div>
				<br>
				<br>
		</div>
		<div class='rankings'>
			<h2 class='rankingsHeader'>Club Rankings:</h2>
				<ol class='rankings'>
					<li class='rankname'>Jack Tao</li>
					<li class='rankname'>Michael Cleversley</li>
					<li class='rankname'>Owen Roberts</li>
					<li class='rankname'>Douglas Coleman</li>
					<li class='rankname'>Joe Strozyk</li>
					<li class='rankname'>Tony Marzullo</li>
					<li class='rankname'>Covor Babanaugh</li>
				</ol>
				<br>
				<br>
		</div>
		
		</div>
	</section>		
	
	<!--Profile Modal Box-->
		<div id='profileModal' class='modalDialog'>
			<div>
				<a href='#close' title='Close' class='close'>X</a>
				<h2 class='modal'>[Member Name Here]</h2>
					<p class='profile'>Current Rank:</p>
					<p class='profile'>Challenge Matches Played:</p>
					<p class='profile'>Currently in a Challenge?</p>
					<a href='#openModalChallenge' class='chlng'>Challenge Member Here</a>
			</div>		   
		</div>
	
	<!--Frank's Special Modal-->
		<div id='frankModal' class='modalDialog'>
			<div>
				<a href='#close' title='Close' class='close'>X</a>
				<h2 class='modal'>Franklin Liboreo Neff</h2>
					<p class='profile'>Current Rank: Infinity</p>
					<p class='profile'>Challenge Matches Played: All of them</p>
					<p class='profile'>Currently in a Challenge? Yes...</p>
					<a href='#openModalChallenge' class='chlng'>Don't Challenge Him</a>
			</div>		   
		</div>
		
	<!--Challenge Modal-->
	<div id='openModalChallenge' class='modalChallenge'>
		<div>
			<a href='#close' title='Close' class='close'>X</a>
			<h2 class='modal'>Challenge Match Request:</h2>
				<hr>
				<form name='challenge' onsubmit='return validateForm()'>
					<input list='people' placeholder='Challenger' required name='fname'>
						<datalist id='people'>
							<option value='Michael Cleversley'>
							<option value='Owen Roberts'>
							<option value='Jack Tao'>
							<option value='Doug Coleman'>
							<option value='Joe Strozyk'>
							<option value='Ben Miller'>
							<option value='Frank Neff'>
							<option value='Adam Higgins'>
							<option value='Connor Cavanaugh'>
							<option value='Max Strittmatter'>
							<option value='Tony Marzullo'>
							<option value='Mpenzie'>
							<option value='Aiden Reichenberg'>
						</datalist> 
				<p>versus...</p>
					<input list='people' placeholder='Challengee' required name='fname'>
						<datalist id='people'>
							<option value='Michael Cleversley'>
							<option value='Owen Roberts'>
							<option value='Jack Tao'>
							<option value='Doug Coleman'>
							<option value='Joe Strozyk'>
							<option value='Ben Miller'>
							<option value='Frank Neff'>
							<option value='Adam Higgins'>
							<option value='Connor Cavanaugh'>
							<option value='Max Strittmatter'>
							<option value='Tony Marzullo'>
							<option value='Mpenzie'>
							<option value='Aiden Reichenberg'>
						</datalist>
					<br>
					<hr>
					<input type='date' placeholder='Today&#39;s Date' required name='fname'>
					<br>
					<input type='submit' class='submit'>
				</form>
		</div>		   
	</div>
	 
	<p>
	<br><br><br><br><br><br>
	</p>
	
	<footer>
	 
		<!--Social Media Bar-->
		<div class='social-btns'>
			<ul>
				<li><a class='btn facebook' href='http://www.facebook.com' target='blank'><i class='fa fa-facebook'></i></a></li>
				<li><a class='btn twitter' href='http://www.twitter.com' target='blank'><i class='fa fa-twitter'></i></a></li>
				<li><a class='btn google' href='http://www.google.com' target='blank'><i class='fa fa-google'></i></a></li>
				<li><a class='btn dribbble' href='http://www.dribbble.com' target='blank'><i class='fa fa-dribbble'></i></a></li>
				<li><a class='btn skype' href='http://www.skype.com' target='blank'><i class='fa fa-skype'></i></a></li>
			</ul>
		</div>
	   
	</footer>
	 
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		
		
		for (i = 0; i < acc.length; i++) {
			acc[i].onclick = function(){
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.display === "block") {
					panel.style.display = "none";
				} else {
					panel.style.display = "block";
				}
			}
		}

		for (i = 0; i < acc.length; i++) {
			acc[i].onclick = function() {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.maxHeight){
					panel.style.maxHeight = null;
				} else {
					panel.style.maxHeight = panel.scrollHeight + "px";
				}	
			}
		}
	</script>

</body>

<!--<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->

</html>